.blog-container {
    padding: 70px 0;
}

.blog-heading {
    font-size: 2.2em;
    font-family: "Roboto Mono", monospace;
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 500px;
    height: 350px;
}

.flip-vertical .flip-front,
.flip-vertical .flip-back,
.flip-front2 {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    color: white;
    background-repeat: no-repeat;
}

.flip-front2 {
    background: linear-gradient(#0f0f0f75, #39913a95), url('../../assets/services.jpg');
    transform: rotateY(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;

}

.flip-front{
    transform: rotateY(0deg);
    background: linear-gradient(#0f0f0f75, #39913a95), url('../../assets/serviceImg.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.flip-back {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    background: #313131;
    padding: 1.5em 2em;
}

.flip:hover .flip-front{
    transform: rotateY(180deg);
}

.flip:hover .flip-back {
    transform: rotateY(0deg);
    opacity: 1;

}

.flip.flip-vertical .flip-back {
    transform: rotateX(-180deg);

}

.flip.flip-vertical:hover .flip-front {
    transform: rotateX(180deg);

}

.flip.flip-vertical:hover .flip-back {
    transform: rotateX(0deg);
}

.flip-title {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.flip-description {
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(241, 235, 235);
}

.blog-parent {
    display: flex;
    justify-content: space-evenly;
}

.overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.overlay-text {
    margin-bottom: 16px;
    margin-top: 23px;
    text-align: center;
}
@media (max-width: 767px) {
    .flip-title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .flip-back{
        padding: 15px 10px;
    }
    .flip-description {
        font-size: 14px;
    }
    .overlay-text{
        font-size: 18px;
    } 
    .carousel-button {
        padding: 7px 15px;
        font-size: 16px;
    }
    .blog-parent{
        display: block;
    }
    .flip {
        width: 100%;
        height:300px ;
    }
}   

@media (min-width: 768px) and (max-width: 991px) {
    .flip-title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .flip-back{
        padding: 25 15px;
    }
    .flip-description {
        font-size: 14px;
    }
    .overlay-text{
        font-size: 25px;
    } 
    .carousel-button {
        padding: 10px 25px;
        font-size: 16px;
    }
}