  
  .about-section {
      color: #333;
  }

  .about-section h3 {
      font-size: 28px;
      margin-block: 15px;
      color: #006400;
      border-bottom: 2px solid #006400;
      padding-bottom: 5px;
  }

  .about-section p {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 20px;
  }

  .about-section p:last-child {
      margin-bottom: 0;
  }

  .about-images {
      display: flex;
      justify-content: end;
      gap: 10px;
      border-radius: 50%;
  }

  .about-images img {
      width: 68%;
      height: 371px;
      border-radius: 190px;
  }

  @media (max-width: 776px) {
    .about-images img {
        width: 83%;
        height: 388px;
        border-radius: 190px;
    }
}